# Dependências
node_modules/
package-lock.json
pnpm-lock.yaml
yarn.lock

# Arquivos do ambiente
.env
.env.local
.env.development
.env.production
.env.test
.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
